.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.about {
    width: 100%;
    flex: 1;
}



.about-container {
    display: flex;
    flex-direction: column;
    max-width: var(--content-width);
    margin: 0 auto;
    gap: 5rem;
}

.about-header-section  {

}

.about-header-section h1 {
    color: var(--color-accent);
    font-size: 1rem;
    font-weight: 600;
}

.about-description {

    max-width: 700px;

}

.about-description h2 {
    font-size: 5rem;
    /*NÅT SÅNTHÄR ISHH*/
    color:var(--color-text)
}

.about-description p {
    font-size: 1.5rem;
    
    color: var(--color-text-muted);
}


.why-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-container h2{
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-border);
    text-align: center;
}


.icon {
    font-size: 3rem;
}

.why-grid {
    display: grid;
    /* justify-content: center;
    grid-template-columns: 20rem 15rem;
    row-gap: 2rem;
    column-gap: 15rem; */
    grid-template-columns: 20rem 20rem;
    justify-content: center;
    gap: 0 15rem
}

.about-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-card h3{
    font-size: 1.5rem;
    color: var(--color-text);
}

.about-card p{
    font-size: 1rem;
    color: var(--color-text-muted);
}

.why-icon {
    display: flex;
    background-color: var(--color-surface);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center; 
    color: var(--color-accent)
}

.about-card svg{
    font-size: 2rem;
}


