
.create-secret {
    padding: 2rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-card);
    background: var(--color-card);
}

.create-secret-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-surface);
}

.create-secret-header h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-accent);
}

.create-secret-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.create-secret textarea {
    width: 100%;
    min-height: 250px;
    resize: vertical;
    background: var(--color-surface);
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius-card);
    padding: 1rem;
}

.create-secret-container select {
    width: 100%;
    background: var(--color-surface);
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius-button);
    padding: 0.5rem 0.75rem;
}

.create-secret-container button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    background: var(--color-surface);
    border-radius: var(--border-radius-button);
    color: var(--color-text);
    cursor: pointer;
    border: none;
}

.expiration-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.create-secret-container button:hover {
    background: var(--color-border);
}

.secret-result {
    margin-top: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-top: 1px solid var(--color-surface);
}

.secret-result input {
    background: var(--color-surface);
    color: var(--color-text);
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;

}

.secret-result-actions {
    display: flex;
    gap: 0.5rem;
}

.secret-result-actions button {
    background: var(--color-surface);
    color: var(--color-text);
    border-radius: var(--border-radius-button);
    border: 1px solid var(--color-border);
    padding: 0.375rem 0.5rem;
    cursor: pointer;
}

.secret-result-actions button:hover {
    background: var(--color-text-muted);
}