:root {
  --color-bg: #1e1e1e;
  --color-surface: #0e0e0e;
  --color-card: #363634;
  --color-text: #f0eeeb;
  --color-text-muted: #aaa7a1;
  --color-border: #5a5a58;
  --color-accent: #c8b99a;

  --border-radius-card: 24px;
  --border-radius-button: 8px;
  --content-width: 1180px;

}

* {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}



